/* rc-pagination */
.rc-pagination {
  margin: 16px;
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  border: none;
  font-size: 16px;
}

.rc-pagination-item {
  border: none;
}

/* swiper-pagination */
/* .reviewSwiper .swiper {
  position: relative;
  overflow: visible;
}

.swiper-custom-pagination {
  position: absolute;
  bottom: -20px;
  z-index: 999;
  text-align: center;
}

.reviewSwiper .swiper-custom-bullet {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.reviewSwiper .swiper-custom-bullet.swiper-custom-bullet-active {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: #007aff;
} */